@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ephesis&display=swap");
:root {
    font-family: "Archivo Black", sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

/*loader*/
.loader {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.loader img {
    width: 150px;
    animation: spin 2s linear infinite;
}
.loader h3 {
    font-size: 1.5rem;
    margin-top: -2rem;
}
.container.loaded .loader {
    display: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.15);
    }
    50% {
        transform: rotate(360deg) scale(1);
    }
    100% {
        transform: rotate(720deg) scale(0.15);
    }
}
/*topbar*/
.top-nav {
    background-color: #f4d43e;
    color: rgb(41, 41, 41);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 1rem;
    margin: auto;
}
/*navbar*/
.pizza-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: auto;
    background-color: rgb(0, 0, 0);
}

.logo-text-img {
    display: flex;
    color: #ffffff;
    margin: 0rem 2rem;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: 4px;
}

.pizza-home {
    width: 60px;
    margin-right: 1.5rem;
}

.cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;
}
.cart-icon {
    color: #f4d43e;
    margin-right: 1rem;
}

.pizza-active {
    color: white;
    text-decoration: none;
}

.pizza-inactive {
    color: #f4d43e;
    text-decoration: none;
}

.link-btn {
    text-decoration: none;
}

.header-container {
    background-color: black;
    width: 100%;
    height: 400px;
}
.header-pizza {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    opacity: 0.6;
}

.header-text {
    font-family: Ephesis, Helvetica, Arial, sans-serif;
    font-size: 4rem;
    color: rgb(255, 246, 230);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*home*/
.home-title {
    letter-spacing: 4px;
    font-size: 40px;
    background-color: #f4d43e;
    color: black;
    width: 13rem;
    padding: 2rem;
    transform: rotate(-4deg);
    margin: 10rem auto 3rem;
    height: 30px;
}

.home-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 2rem;
    max-width: 1500px;

    margin: 100px auto;
    padding: 50px auto;
}
.home-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #f4d43e;
    border: 1px solid #f4d43e;
    border-radius: 15px;
    text-align: left;
    position: relative;
    padding: 1rem;
    width: 80%;
    margin: 1rem;
}

.home-card-container::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: " ";
    background: #f4d43e;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    z-index: -1;
}
.img-pizza {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1rem;
}
.name-pizza {
    text-transform: capitalize;
    color: #f4d43e;
}
.list-pizza {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    color: #e4e4e4;
}

.data-pizza {
    color: #f4d43e;
    text-align: center;
}

.btns-pizza-home {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background-color: black;
    color: #f4d43e;
    border-style: none;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    width: 5rem;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #f4d43e;
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
}

/*card*/
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4d43e;
    border-radius: 20px;
    padding: 2rem;
    margin: 5rem;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;

    padding: 40px auto;
    width: 100%;
}

.card-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2rem;
}
.card-title {
    text-transform: capitalize;
    margin-left: 3rem;
}
.card-details {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
}
.card-data {
    text-transform: capitalize;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: left;
}

.btns-pizza {
    display: flex;
    align-items: center;
}
.home-btn {
    background-color: #f4d43e;
    color: black;
    border: 1px solid black;
}
/*shopcart*/
.shop-container {
    margin: 4rem, 7rem;
}
.btn-shop-cart {
    width: 50px;
    height: 50px;
    align-items: center;
}
.btn-shop-delete {
    background: #f4d43e;
    color: black;
    border: 1.5px solid black;
    width: 50px;
    height: 50px;
}
.box-container {
    display: flex;
    flex-direction: column;
    background-color: #f4d43e;
    color: black;
    border-radius: 20px;
    margin: 5rem;
    padding: 2rem;
}
.box-title {
    margin-bottom: 3rem;
}
.box-price {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.cart-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 1rem;
}
.shop-details-1,
.shop-details-2 {
    display: flex;
    align-items: center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.btns-shop {
    display: flex;
    align-items: center;
}

.cart-list {
    color: rgb(111, 111, 111);
    margin-left: 1rem;
    text-transform: capitalize;
    font-style: italic;
    font-size: 14px;
}

.text-price {
    margin-left: 1rem;
}
.btn-message {
    background-color: rgb(12, 12, 12);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #f4d43e;
    color: #f4d43e;
}

.cart-title {
    text-transform: capitalize;
    font-size: 1rem;
}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
.footer-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4d43e;
    margin: auto;
    padding: 0.5rem;
    color: rgb(41, 41, 41);
    font-family: "Archivo Black", sans-serif;
    font-size: 18px;
}
.footer-data {
    display: flex;
}
.footer-title {
    color: white;
    margin: 1.5rem;
}

.form-container {
    position: relative;
}

.form-container input {
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: #fce994;
    margin-bottom: 1rem;
}
.form-container button {
    position: absolute;
    width: 20%;
    top: -7%;
    right: -20%;
    height: 60%;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.footer-img {
    height: 100px;
    width: 100%;
    position: absolute;
    object-fit: calc(35%);
}

.footer-text-1 {
    font-size: 14px;
    background-color: #f4d43e;
    padding: 0.1rem;
    transform: rotate(4deg);
    position: relative;
}

.footer-text-2 {
    font-size: 8px;
    background-color: #f4d43e;
    position: relative;
}

.footer-icons {
    cursor: pointer;
}

/*responsive*/

@media screen and (min-width: 768px) and (max-width: 1020px) {
    /*header*/
    .header-text {
        font-size: 50px;
    }
    .logo-text-img {
        font-size: 1rem;
    }
    /*home*/
    .home-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 80%;
    }
    .home-card-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 90%;
        width: 80%;
        margin: auto;
    }
    .data-pizza {
        margin: auto;
    }

    /*cart*/
    .cart-container {
        font-size: 1rem;
    }
    .cart-icon {
        margin-right: 0;
    }
    /*shopcart*/

    .box-title {
        font-size: 1.5rem;
    }

    .box-price {
        font-size: 15px;
    }

    /*card*/

    .card-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    /*footer*/
    .footer-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    /*navbar*/
    .logo-text-img {
        font-size: 1rem;
    }

    /*home*/
    .pizza-home {
        width: 60px;
    }
    .header-pizza {
        font-size: 20px;
    }
    .header-text {
        font-size: 50px;
    }

    .home-gallery {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
    .home-card-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        padding: 1rem;
        margin: auto;
    }

    /*card*/
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin: 2rem;
    }

    .card-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    /*cart*/

    .cart-icon {
        margin-right: 0;
    }
    .cart-container {
        font-size: 1rem;
    }
    .cart-img {
        padding: 0;
    }

    .text-price {
        margin-left: 0;
    }
    .btns-shop {
        display: flex;
        align-items: center;
    }
    .shop-details-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Avenir, Helvetica, Arial, sans-serif;
    }
    .shop-details-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-price {
        flex-direction: column;
        font-size: 13px;
        justify-content: center;
        align-items: center;
    }

    /*footer*/

    .footer-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        background-repeat: repeat-x;
        background-image: url("./cuadros.jpg");
    }

    .form-container input {
        padding: 15px;
    }
}
